<div class="app-settings">
    <div class="app-banner">
        <h1 class="banner-title">Settings</h1>
        <img class="banner-img" src="/css/images/el/settings.png" />
    </div>
    <div class="app-settings-items">
        <button class="item-btn">
            <a class="a-btn font-weight-bold" href="/settings/security/setPassword">
                Set password
            </a>
        </button>
        <button class="item-btn">
            <a class="a-btn font-weight-bold" href="/settings/cmd">
                Command line
            </a>
        </button>
    </div>
</div>