<div class="screen-content">
    <% if (err) { %>
        <small class="form-text text-danger">
            <%= err %>
        </small>
        <% } %>
            <form class="d-flex flex-column" method="POST" action="/setPassword">
                <div class="m-2">
                    <input required id="curPwd" name="curPwd" type="password" placeholder="Enter old password...">
                </div>
                <div class="m-2">
                    <input required id="newPwd" name="newPwd" type="password" placeholder="Enter new password...">
                </div>
                <div class="m-2">
                    <input required id="reNewPwd" name="reNewPwd" type="password" placeholder="Re-type new password...">
                </div>
                <button class="align-self-center btn" type="submit">Set password</button>
            </form>
</div>
</div>
<script>
    jQuery(function ($) {
        $('#curPwd').keyboard({ openOn: 'click', autoAccept: true });
        $('#newPwd').keyboard({ openOn: 'click', autoAccept: true });
        $('#reNewPwd').keyboard({ openOn: 'click', autoAccept: true });
    });
</script>