<!DOCTYPE html>
<html>
    <head>        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
		<style>
            button{
				height:50px;
				width:100%;
				font-size : 2em;
				margin-bottom: 10px;				
			}			
        </style>
    </head>
    <body style="">
	<textarea id="keyboard" placeholder="Enter Text..."></textarea>

		<!-- <div class="text" style="font-size : 2em;text-align: center;margin: 20px;">Chào mừng đến với chương trình</div> -->
		<div class="left" style="width:40%;float:left">
			<button class="connectWifi" style="">Connect Wifi</button>
			<button class="test2" style="">Test2</button>
			<button class="test3" style="">Test3</button>
		</div>
		<div class="right" style="width:40%;float:right;">
			<button class="test4" style="">Test4</button>
			<button class="test5" style="">Test5</button>
			<button class="test6" style="">Test6</button>
		</div>
    </body>
	<script>
		
	</script>
</html>