<!DOCTYPE html>
<html>
    <head>        
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		
		<style>
            		
        </style>		
		<link rel="stylesheet" href="css/bootstrap.min.css">
		<script src="js/jquery-latest.min.js"></script>
		<link href="css/startup.css" rel="stylesheet">
		<script src="js/bootstrap.min.js"></script>
		<link href="css/font-awesome.css" rel="stylesheet">
		
    </head>
    <body style="" class="startup">
		<div class="text title" style="">Chào mừng đến với chương trình ABC</div>
		<div class="row">
			<div style="width:50%">
				<button class="connectWifi bnt btn-primary startupbtn" style="" onclick="location.href='/connectWifi';return false;"> Connect Wifi</button>
				<button class="callPython bnt btn-success startupbtn" style="" onclick="location.href='/callPython';return false;">Call Python</button>
				<button class="test3 bnt btn-info startupbtn" style="">Test3</button>
			</div>
			<div style="width:50%">
				<button class="test4 bnt btn-primary startupbtn" style="">Test4</button>
				<button class="test5 bnt btn-success startupbtn" style="">Test5</button>
				<button class="test6 bnt btn-info startupbtn" style="">Test6</button>
			</div>
		</div>		
    </body>
	<script>
		
	</script>
</html>