<div class="app-menu">
	<div class="menu-item">
		<a href="/settings">
			<img class="item-img" src="/css/images/el/settings.png" />
		</a>
		<p class="item-text">Settings</p>
	</div>
	<div class="menu-item">
		<a href="/scratch">
			<img class="item-img" src="/css/images/el/scratch.png" />
		</a>
		<p class="item-text">Scratch</p>
	</div>
	<div class="menu-item">
		<a href="/learningEnglish">
			<img class="item-img" src="/css/images/el/learningEnglish.png" />
		</a>
		<p class="item-text">Learning English</p>
	</div>
</div>